/*Reset iniziale*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

button {
  background: transparent;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}


/*Contenitore generale*/
.app {
  height: 100vh;
  display: flex;
}

/*Sidebar*/
.sidebar {
  width: 80px;
  background-color: #11131a;
  padding: 16px 8px;
}

.server-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.server-item {
  width: 48px;
  height: 48px;
  background-color: #2b2e3b;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.server-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.server-item:hover {
  transform: scale(1.08);
}

.server-item.active {
  outline: 2px solid white;
}


/*Tutta la parte destra*/
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
/*Header*/
.topbar {
  height: 120px;
  background-color: #1c1d29;
  padding: 20px 16px 12px;
}

.topbar h1 {
  font-size: 2rem;
  margin-bottom: 14px;
}

.topbar-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.search-btn {
  width: 38px;
  height: 38px;
  background-color: #2b2e3b;
  border-radius: 50%;
}

.add-friend-btn {
  flex-grow: 1;
  height: 38px;
  background-color: #313543;
  border-radius: 50%;
}
/*Lista chat*/
.chat-list {
  flex-grow: 1;
  background-color: #202230;
}
/*Footer*/
.bottom-nav {
  height: 70px;
  background-color: #2b2d3a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

.nav-icon {
  font-size: 1.2rem;
}